{% extends 'base.html.twig' %}{% block body %}
<div class="content">
    <h1>Bienvenue dans la page d'accueil</h1>
    <div class="row">
        <div class="col-md-6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo ipsum, laudantium amet perspiciatis error maiores velit labore laborum dignissimos, recusandae, aliquam blanditiis officia cum omnis inventore aut nam voluptatum adipisci eius. Velit
            cum dicta harum corrupti facilis aut, earum, eos ducimus eveniet voluptatum asperiores culpa? Iusto porro tempora dolore nobis!</div>
        <div class="col-md-6">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti temporibus velit non atque neque, incidunt esse tempore eum enim molestiae in sit. Quos odio sunt eum veniam quis placeat! Delectus harum modi sapiente cum saepe repellendus ipsam
            nostrum maiores perferendis asperiores id aut, quam labore ipsa aliquam, sint itaque deserunt!</div>

    </div>
</div>{% endblock %}